.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.center-icon {
  text-align: center;
}
/* App.css */
.app-container {
  display: flex;
}


.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 5px;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
}

.sidebar {
  width: 200px;
  height: 100;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  font-size: 18px;
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
}

.sidebar a:hover {
  color: #ff0;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
